h6{
    margin-right: 14px!important;
} 
h4{
    font-size:48px;
}
h3{
    font-family: 'Grand Hotel', cursive;
}
.item{
    width:30%;
    margin-right: 23px;
    margin-bottom: 10px;
}

  
