@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: rgb(22, 22, 22) !important;

}

.brand-logo {
  font-family: 'Grand Hotel', cursive;
}

.mycard{
 margin-left: 500px;
 width:35%;
 margin-top: 50px;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(240, 14, 14);
  box-shadow: 0 1px 0 0 rgb(227, 10, 10);
}
.auth-card{
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 10px auto;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 10px;
  height: 230px;
}
